html, body {
	font-family: sans-serif;
	font-size: 0.9em;
	background-color: #ddd;
}

h1 {
	font-size: 1.2em;
}

.info {
	position: fixed;
	right: 10px;
	top: 10px;
	text-align: right;
	z-index: 999;
	background-color: #eee;
	padding: 0px 5px 0px 5px;
	border: 1px solid #000;
}

	#rangeIn, #rangeOut {
		width: 30px;
	}

.gridster input, .gridster textarea {
	color: #cc0080;
	font-family: sans-serif;
}

.strike {
	background-image: url('/img/strike.png');
}

.check {
	background-image: url('/img/check.png');
}

.gridster * {
	margin: 0;
	padding: 0;
}

.gridster {
	margin: 0 auto;

	opacity: .8;

	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gridster ul {
	list-style-type: none;
}

.gridster li {
	display: block;
	font-size: 0.8em;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 2px 2px 5px #000;
}

.gridster .gs-w {
	cursor: pointer;
}

.gridster .preview-holder {
	border: none!important;
	background: red!important;
}