.gridster * {
	margin: 0;
	padding: 0;
}

.gridster {
	margin: 0 auto;

	opacity: .8;

	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gridster ul {
	list-style-type: none;
}

.gridster li {
	display: block;
	font-family: sans-serif;
	font-size: 0.8em;
	overflow: hidden;
}

.gridster .gs-w {
	cursor: pointer;
}

.gridster .player {
	background: #BBB;
}

.gridster .preview-holder {
	border: none!important;
	background: red!important;
}