html, body {
	font-family: sans-serif;
	font-size: 0.9em;
}

html {
	background-image: url("/img/bg_board.png");
	background-repeat: repeat-y;
	background-position: 10px 0px;
	background-color: #444;
}

h1 {
	font-size: 1.2em;
}

.info {
	position: fixed;
	right: 10px;
	top: 10px;
	text-align: right;
	z-index: 999;
	background-color: #eee;
	padding: 0px 5px 0px 5px;
	border: 1px solid #000;
}

	#rangeIn, #rangeOut {
		width: 30px;
	}

#dialog-runway {
	margin: 10px 0px;
}

.gridster input, .gridster textarea {
	color: #cc0080;
	font-family: sans-serif;
	background: none;
}

.strike {
	background-image: url('/img/strike.png');
}

.check {
	background-image: url('/img/check.png');
}

.gridster * {
	margin: 0;
	padding: 0;
}

.gridster {
	margin: 0 auto;
}

.gridster ul {
	list-style-type: none;
}

.gridster li {
	display: block;
	font-size: 0.8em;
	overflow: hidden;
	background-color: #fff;
	background-image: url("/img/bg_strip.png");
	box-shadow: 2px 2px 5px #000;
	border-style: solid;
	border-width: 3px 0px;
}
	.gridster li div.remove {
		position: absolute;
		top: 0;
		right: 2px;
		line-height: 20px;
		font-size: 1.5em;
		font-weight: bold;
		color: #c00;
	}

	.gridster li.touchgo {
		border-color: #c00 !important;
	}

.gridster .gs-w {
	cursor: pointer;
}

.gridster .preview-holder {
	border: none!important;
	box-shadow: none!important;
	background: none!important;
}