.gridster li.inbound {
	border: 1px yellow solid;
}

.gridster li.inbound div.column {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	height: 80px;
}

	.gridster li.inbound div.column div {
		height: 30px;
		line-height: 30px;
		position: absolute;
	}

.gridster li.inbound div.col1 {
	width: 150px;
}

.gridster li.inbound div.col2 {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	width: 100px;
}

	.gridster li.inbound div.gate {
		top: 0;
		width: 100px;
	}
	.gridster li.inbound div.eobt {
		bottom: 0;
		width: 100px;
		font-weight: bold;
	}

.gridster li.inbound div.col3 {
	width: 200px;
}

	.gridster li.inbound div.aircraft {
		top: 0;
		width: 50px;
	}

	.gridster li.inbound div.callsign {
		left: 50px;
		width: 100px;
		border-color: #000;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		font-weight: bold;
		font-size: 1.3em;
	}

	.gridster li.inbound div.runway {
		right: 0;
		width: 50px;
	}

	.gridster li.inbound div.runway span {
		display: inline-block;
		width: 30px;
		height: 22px;
		line-height: 22px;
		background-color: #000;
		color: #fff;
	}

	.gridster li.inbound div.dep_airport {
		bottom: 0;
		width: 60px;
	}

	.gridster li.inbound div.arr_airport {
		bottom: 0;
		right: 0;
		width: 60px;
	}

.gridster li.inbound div.col4 {
	border-left: 1px solid #000;
	width: 75px;
}
	.gridster li.inbound div.route {
		top: 0;
		width: 194px;
		text-align: left;
		padding: 0px 5px 0px 5px;
	}

	.gridster li.inbound div.sq_mode {
		bottom: 0;
		width: 25px;
		text-align: right;
	}
	.gridster li.inbound div.sq_id {
		bottom: 0;
		right: 0;
		width: 40px;
		text-align: left;
	}