.gridster li.outbound {
	border: 1px blue solid;
}

.gridster li.outbound div.inputs input {
	position: absolute;
	border: 0;
}

.gridster li.outbound div.column {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	height: 60px;
}

	.gridster li.outbound div.column div {
		height: 20px;
		line-height: 20px;
		position: absolute;
	}

.gridster li.outbound div.col1 {
	width: 60px;
}

	.gridster li.outbound input.gate {
		left: 0;
		top: 25px;
		width: 60px;
	}

	.gridster li.outbound div.gate {
		top: 0;
		width: 60px;
	}
	.gridster li.outbound div.eobt {
		bottom: 0;
		width: 60px;
		font-weight: bold;
	}

.gridster li.outbound div.col2 {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	width: 180px;
}

	.gridster li.outbound input.origin {
		left: 0;
		top: 25px;
		width: 50px;
	}

	.gridster li.outbound input.callsign {
		left: 50px;
		top: 25px;
		width: 82px;
	}

	.gridster li.outbound input.destination {
		left: 132px;
		top: 25px;
		width: 48px;
	}

	.gridster li.outbound div.aircraft {
		top: 0;
		width: 50px;
	}

	.gridster li.outbound div.callsign {
		left: 50px;
		width: 80px;
		border-color: #000;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		font-weight: bold;
		font-size: 1.3em;
	}

	.gridster li.outbound div.runway {
		right: 0;
		width: 50px;
	}

	.gridster li.outbound div.runway span {
		display: inline-block;
		width: 30px;
		height: 16px;
		line-height: 16px;
		background-color: #000;
		color: #fff;
	}

	.gridster li.outbound div.dep_airport {
		bottom: 0;
		width: 60px;
	}

	.gridster li.outbound div.arr_airport {
		bottom: 0;
		right: 0;
		width: 60px;
	}

.gridster li.outbound div.col3 {
	width: 90px;
}

	.gridster li.outbound input.rfl {
		left: 0;
		top: 25px;
		width: 45px;
	}

	.gridster li.outbound input.sid {
		left: 45px;
		top: 25px;
		width: 45px;
	}

	.gridster li.outbound div.rfl {
		left: 0;
		width: 50px;
	}

	.gridster li.outbound div.sid {
		right: 0;
		width: 50px;
		font-weight: bold;
	}

	.gridster li.outbound div.sq_mode {
		bottom: 0;
		width: 30px;
		text-align: right;
	}
	.gridster li.outbound div.sq_id {
		bottom: 0;
		right: 0;
		width: 50px;
		text-align: left;
	}

.gridster li.outbound div.col4 {
	border-left: 1px solid #000;
	width: 125px;
}
	
	.gridster li.outbound input.route {
		left: 0;
		top: 25px;
		width: 135px;
	}

	.gridster li.outbound div.route {
		top: 0;
		width: 125px;
		text-align: left;
		padding: 0px 5px 0px 5px;
	}